---
layout: main
---
{% if subtitle != "" %}
<p class="md:text-7xl text-5xl font-light tracking-widest pt-10 md:pt-20 leading-tight title-animated">
 {{ title }}
</p>
<p class="md:text-7xl text-5xl font-thin pb-10 md:pb-20 leading-tight title-animated">
 {{ subtitle }}
</p>

{% else %}
<p class="md:text-7xl text-5xl font-light tracking-wider py-10 md:py-20 leading-tight">
 {{ title }}
</p>

{% endif %}

{% include "nav.njk" %}

{{ content | safe}}