---
layout: base
---

<div class="min-h-screen flex flex-col">

<main class="flex-1 w-10/12 max-w-screen-sm md:max-w-screen-xl mx-auto">

  {{ content |safe }}

</main>

{% include "footer.njk" %}
</div>