---
layout: main
---
{% include "nav.njk" %}
<header>
<h1 class="xl:text-8xl sm:text-7xl text-5xl font-medium tracking-normal pt-4 pb-4 xl:pb-6 leading-tight text-center">
 {{ title }}
</h1>
<h2 class="xl:text-6xl sm:text-5xl text-3xl font-light tracking-widest pb-8 xl:pb-16 leading-tight text-center">
 {{ subtitle }}
</h2>

<section class="prose prose-xl prose-main hover:prose-a:text-red-600 leading-loose pb-12 max-w-lg mx-auto">
  {{ content | safe }}
</section>
{# {% include "paginator.njk" %} #}