---
layout: main
---
{% include "nav.njk" %}
<header>
<h1 class="xl:text-8xl sm:text-7xl text-5xl font-medium tracking-normal pt-12 pb-16 leading-tight text-center">
 {{ title }}
</h1>


<section class="prose prose-xl text-xl font-light prose-main hover:prose-a:text-primary leading-loose max-w-3xl px-8 md:px-8 mx-auto">
  {{ content | safe }}
</section>
{# {% include "paginator.njk" %} #}