@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: supply;
    src: url(/assets/fonts/supply-thin.woff2);
    font-weight: 100;
    font-style: normal
  }
  
  @font-face {
    font-family: supply;
    src: url(/assets/fonts/supply-light.woff2);
    font-weight: 300;
    font-style: normal
  }
  
  @font-face {
    font-family: supply;
    src: url(/assets/fonts/supply-regular.woff2);
    font-weight: 400;
    font-style: normal
  }
  
  @font-face {
    font-family: supply;
    src: url(/assets/fonts/supply-medium.woff2);
    font-weight: 500;
    font-style: normal
  }
  
  @font-face {
    font-family: supply;
    src: url(/assets/fonts/supply-bold.woff2);
    font-weight: 700;
    font-style: normal
  }

  html {
    font-family: 'supply';
  }
}


/* TODO are these needed? */
.paginator-text {
  @apply text-gray-600 font-bold py-2 px-4;
}

.post-tag {
  @apply inline-block text-xs rounded-full py-2 px-4 mt-1 mr-1 bg-blue-500 dark:bg-blue-500;
}